<html>
    <head>
        <title>Form Submission</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        
        <div id="pagewrap">
            @RenderBody()
        </div>
    </body>
</html>